{% extends 'base.html.twig' %}

{% block title %}Hello RegisterController!{% endblock %}

{% block body %}
    <div class="container">
    <div class="my-5">
        <h1>Register</h1>
    </div>
        {% if notification %}
            <div class="alert alert-info">
                {{ notification }}
            </div>
        {% endif %}
    <div class="row">
        <div class="col-lg-6 align-self-center">
            {{ form(form) }}
        </div>
    </div>

    </div>
{% endblock %}
