{% extends 'base.html.twig' %}

{% block title %}Valider ma commande{% endblock %}

{% block body %}
    <div class="container my-5">
        <h1>Je passe ma commande</h1>
        <div class="row row-cols-6">
            <div class="col-auto"
            {% set formHtml %}
                {{ form(form) }}
            {% endset %}

            {{ formHtml|replace({'[br]': '</br>'})|raw }}
        </div>
        <div class="col-auto">
        </div>
    </div>
{% endblock %}
